@import "../lib/materialize-src/sass/materialize.scss";
@import "variables";
@import "mixins";


// Global
* {
  font-family: 'Roboto', serif;
  p {
    color: $blue-grey;
  }
}


// Header
.logo {
  height: 3em;
  width: 8em;
  img {
    padding: 1em;
    height: 4em;
  }
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .heading-container {
    margin-top: 22%;
  }
  h1 {
    display: none;
    font-family: 'Bungee Outline', serif;
    color: white;
    text-align: center;
    letter-spacing: $space-letters;
    font-size: $heading;
    font-weight: bold;
    margin: 1.5em 0 0 0;
  }
  .sub-text {
    display: none;
    font-family: 'Roboto', serif;
    text-align: center;
    letter-spacing: $space-letters;
    font-size: $heading;
    margin-top: 0;
  }
  @include mQ(380px){
    background-image: url(../assets/timelapse-sf.jpg);
    .heading-container {
      margin-top: 50%;
    }
  }
}


// Grid Layout
.grid-container {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(50vh, auto);
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  .text-format-1 {
    @include text-1;
    @include mQ(380px) {
      z-index: 1;
    }
  }
  .text-format-2 {
    @include text-2;
  }
  .text-overlay {
    @include text-1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mQ(380px) {
      justify-content: flex-start;
    }
  }
  @include mQ(380px) {
    grid-template-columns: 100%;
  }
}


// Buttons
.btn-wrapper {
  @include flex-center;
  .heading-btn {
    margin: 20px;
  }
}

.overlay-btn {
  padding-top: 1em;
  @include mQ(380px) {
    @include flex-center;
  }
}


// Images
.img-1 {
  background-image: url(../assets/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-2 {
  background-image: url(../assets/banner-1.jpg);
  background-size: cover;
  @include mQ(380px) {
    background-image: url(../assets/laptop-glasses.jpg);
  }
}

.img-3 {
  background-image: url(../assets/banner-2.jpg);
  background-size: cover;
  @include mQ(750px) {
    position: relative;
    .layer {
    background-color: rgba(207, 216, 220, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    }
  }
}


// Links
.link-container {
  display: flex;
}
a {
  padding-top: 0.3em;
  letter-spacing: $space-letters;
}

.material-icons, a {
  color: $deep-purple;
  font-weight: bolder;
}


// Icons
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-med {
  @include icon-small;
  @include mQ {
    z-index: 2;
  }
}

.icon-wrapper {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  h2 {
    margin: 1em;
    font-size: 1.5em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    color: $blue-grey;
  }
  @include mQ(380px) {
    height: 50vh;
    h2 {
      z-index: 1;
    }
  }
}


// Carousel
.carousel {
  @include mQ(380px){
    height: 500px;
  }
}

.carousel .indicators .indicator-item {
  background-color: $yellow;
}

.carousel .indicators .indicator-item.active {
  background-color: $orange;
}

.middle-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-item {
  h2 {
    color: $deep-purple;
  }
}

.carousel-text {
  margin: 0 5em;
}

.ratings-wrapper {
  margin: 1em 0;
}
.star {
  height: 1.5em;
}


// Footer
footer {
  background-color: $light-grey;
  p{
    margin: 0;
  }
}

.footer-text {
  padding: 1em 0 0 0;
  text-align: center;
  font-weight: bold;
  color: $blue-grey;
}

.media-link-wrapper {
  @include flex-center;
}

.media-link {
  @include icon-small;
  color: $deep-purple;
  margin: 1em;
}
