// Variables

// Font Sizing
$heading: 3em;
$section-heading: 2em;
$space-letters: 0.1em;

// Colors
$deep-purple: #6a1b9a;
$blue-grey: #37474f;
$light-grey: #fafafa;
$yellow: #fdd835;
$orange: #ffa000;
