<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rooster Grin Dev Test</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Outline">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <!-- Scripts -->

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

  <!-- Compiled and minified AnimeJs JavaScript -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script defer src="./js/animation.js"></script>
  <script defer src="./js/rg-carousel.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <img src="assets/logo-white.svg" alt="">
    </div>
    <div class="heading-container">

      <div class="heading-wrapper">
        <div class="heading-title-wrapper">
          <h1 class="heading-title">Welcome To</h1>
          <h1 class="sub-text">Rooster Grin</h1>
        </div>
        <div class="btn-wrapper">
          <a class="waves-effect waves-light purple darken-1 btn heading-btn">Button Button</a>
        </div>
      </div>

    </div>

  </header>

  <div class="grid-container">
    <div class="section section-format-1">
      <div class="text-format-1">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor amet messenger bag migas cold-pressed authentic ethical. Yr man bun chambray narwhal quinoa aesthetic disrupt meh swag vexillologist. Leggings prism everyday carry coloring book keytar organic portland. Pork belly chillwave franzen, keytar fingerstache knausgaard brooklyn twee next level listicle. Before they sold out live-edge chambray helvetica fixie cloud bread lyft vinyl normcore taiyaki.</p>
        <div class="link-container"><i class="small material-icons">chevron_right</i><a href="">Lorem Ipsum</a></div>
      </div>
      <div class="img-1 img-format-1">
      </div>
    </div>

    <div class="section section-format-2 img-2">
        <div class="text-format-1 text-overlay">
          <h1>Lorem Ipsum</h1>
          <div class="overlay-btn"><a class="waves-effect waves-light amber darken-4 btn">Button Button</a></div>
        </div>
    </div>

    <div class="section section-format-1">
      <div class="text-format-2">
        <h1>Lorem Ipsum Dolor Sit Amet</h1>
        <p>Lorem ipsum dolor amet jean shorts unicorn godard normcore chambray lo-fi mustache readymade gastropub ugh put a bird on it tumeric. Brunch sustainable celiac fashion axe.</p>
        <div class="link-container">
          <i class="small material-icons">chevron_right</i><a href="">Lorem Ipsum</a>
        </div>
      </div>
      <div class="icon-wrapper">
        <div class="icon-container">
          <img class="icon-med" src="assets/home-expertise.svg" alt="">
          <h2>Lorem</h2>
        </div>
        <div class="icon-container">
          <img class="icon-med" src="assets/home-hygiene.svg" alt="">
          <h2>Lorem Ipsum</h2>
        </div>
        <div class="icon-container">
          <img class="icon-med" src="assets/home-lab.svg" alt="">
          <h2>Lorem Ipsum</h2>
        </div>
        <div class="icon-container">
          <img class="icon-med" src="assets/home-retention.svg" alt="">
          <h2>Lorem</h2>
        </div>
      </div>
    </div>

    <div class="section section-format-3 img-3">
      <div class="layer"></div>
      <div class="text-format-1">
        <h1>Lorem Ipsum</h1>
        <p>Fam raclette neutra crucifix dreamcatcher banh mi prism literally keytar ennui hexagon. Celiac asymmetrical semiotics, iceland slow-carb hot chicken etsy. Ethical +1 knausgaard taiyaki VHS.</p>
        <div><a class="waves-effect waves-light amber darken-4 btn">Button Button</a></div>
      </div>
    </div>

    <div class="section section-format-1">
      <div class="text-format-2">
        <h1>Migas cliche cray franzen stumptown</h1>
        <div class="ratings-wrapper">
          <img class="star" src="assets/star.svg" alt="">
          <img class="star" src="assets/star.svg" alt="">
          <img class="star" src="assets/star.svg" alt="">
          <img class="star" src="assets/star.svg" alt="">
          <img class="star" src="assets/star.svg" alt="">
        </div>
      </div>

        <div class="carousel carousel-slider center carousel-fixed-item center middle-indicator">

           <div class="left">
            <a href="" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="medium material-icons left  middle-indicator-text">chevron_left</i></a>
           </div>

           <div class="right">
           <a href="" class="moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="medium material-icons right middle-indicator-text">chevron_right</i></a>
           </div>

          <div class="carousel-item blue-grey-text" href="#one!">
            <h2>Eleanor Shellstrop 06/08/2019</h2>
            <p class="carousel-text blue-grey-text">Artisan irure hoodie hella trust fund put a bird on it. Ipsum irure vaporware hexagon. Fugiat sartorial echo park magna 90's farm-to-table biodiesel snackwave keffiyeh direct trade iceland chicharrones gluten-free. Chartreuse ad locavore migas eu mixtape disrupt ut butcher leggings flannel austin vice. Coloring book hashtag single-origin coffee raw denim.</p>
          </div>
          <div class="carousel-item blue-grey-text" href="#two!">
            <h2>Chidi Anagonye 09/12/2019</h2>
            <p class="carousel-text blue-grey-text">Meggings enamel pin neutra fam. Ad exercitation narwhal cold-pressed fashion axe sriracha banjo. Est ex XOXO dreamcatcher sartorial disrupt pinterest squid sriracha tofu raclette activated charcoal edison bulb pop-up. Eiusmod trust fund veniam, man bun af whatever knausgaard kombucha helvetica adipisicing next level taiyaki church-key brunch photo booth.</p>
          </div>
          <div class="carousel-item blue-grey-text" href="#three!">
            <h2>Tahani Al-Jamil 11/21/2019</h2>
            <p class="carousel-text blue-grey-text">Fingerstache humblebrag retro thundercats elit paleo. Slow-carb street art cred hot chicken, vinyl vegan vice cronut shabby chic +1 af literally photo booth cloud bread unicorn. Jean shorts blog proident fanny pack meggings. Hashtag +1 lo-fi sint drinking vinegar. Cillum ethical minim deserunt, plaid enamel pin brooklyn.</p>
          </div>
          <div class="carousel-item blue-grey-text" href="#four!">
            <h2>Jason Mendoza 11/30/2019</h2>
            <p class="carousel-text blue-grey-text">Scenester tumblr cupidatat roof party deserunt biodiesel tilde kale chips est subway tile ipsum food truck laboris. Sustainable ut retro pabst cillum knausgaard, banh mi aesthetic poke. Umami shoreditch blog butcher veniam intelligentsia franzen migas selfies fingerstache next level bitters. Gochujang truffaut meggings viral, kitsch hella iPhone duis YOLO.</p>
          </div>
        </div>

    </div>

  </div>
  <footer>
      <div class="footer-text"><p>Follow Us:</p></div>
      <div class="media-link-wrapper">
      <a href=""><img class="media-link" src="assets/instagram.svg" alt=""></a>
      <a href=""><img class="media-link" src="assets/facebook.svg" alt=""></a>
    </div>
  </footer>
</body>
</html>
